<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.2" />
  </configSections>
  <!--配置log4net--> 
  <log4net>
    <root>
    </root>
    <logger name="RollingLogFileAppender">
      <level value="ALL" />
      <appender-ref ref="RollingFileDebug" />
      <appender-ref ref="RollingFileInfo" />
      <appender-ref ref="RollingFileWarn" />
      <appender-ref ref="RollingFileError" />
      <appender-ref ref="RollingFileFatal" />
    </logger>
    <appender name="RollingFileDebug" type="log4net.Appender.RollingFileAppender">
      <!--文件路径 如果不设置（去掉 value="Log/Debug/"）会默认保存到[App_Data]文件夹中-->
      <param name="File" value="Log/Debug/"/>
      <!--追加到文件-->
      <param name="AppendToFile" value="true"/>
      <!--最多保留的文件数，设为"-1"则不限-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--写到一个文件-->
      <param name="StaticLogFileName" value="false"/>
      <!--文件名，按日期命名-->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <!--创建日志文件的方式，可选值：Date[日期],文件大小[Size],混合[Composite]-->
      <param name="RollingStyle" value="Date"/>
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!--%newline输出的日志会换行 [%date{HH:mm:ss fff}]表示记录的时间   -->
        <conversionPattern value="[%date{HH:mm:ss fff}] %- %message%newline" />
        <!--如果想自己设置格式就只需要-->
        <!--<conversionPattern value="%message"/>-->
      </layout>
      <lockingmodel type="log4net.appender.fileappender+minimallock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
        <param name="LevelMax" value="Debug" />
      </filter>
    </appender>
    <appender name="RollingFileInfo" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/Info/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss fff}] %- %message%newline" />
      </layout>
      <lockingmodel type="log4net.appender.fileappender+minimallock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>
    <appender name="RollingFileWarn" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/Warn/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss fff}] %- %message%newline" />
      </layout>
      <lockingmodel type="log4net.appender.fileappender+minimallock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>
    <appender name="RollingFileError" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/Error/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss fff}] %- %message%newline" />
      </layout>
      <lockingmodel type="log4net.appender.fileappender+minimallock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="RollingFileFatal" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/Fatal/"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss fff}] %- %message%newline" />
      </layout>
      <lockingmodel type="log4net.appender.fileappender+minimallock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>

  </log4net> 
</configuration>
